/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d40f44;
}

header {
    background-color: #00487c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #00487c;
    font-weight: bold;
}

nav a:hover {
    color: #b1b1b1;
}

section {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

section h2 {
    color: rgb(153, 0, 0);
}

footer {
    background-color: #00487c;
    color: #cdcdcd;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }

    section {
        margin: 10px 0;
    }
} 
