{% extends "base.html" %}

{% block title %}About Us - My Blog{% endblock %}

{% block content %}
<div class="page-content">
    <h2>About This Blog</h2>
    <p>
        Welcome to "My Awesome Blog"! This is a space where I share my thoughts, insights, and stories
        about [mention your blog's main topics, e.g., sports, technology, personal development, etc.].
    </p>
    <p>
        My goal is to create engaging content that [mention your goal, e.g., informs, entertains, inspires discussion].
        I'm passionate about [mention your passions related to the blog] and I hope you'll find something
        here that resonates with you.
    </p>
    <p>
        Feel free to explore the posts and leave comments. I'd love to hear your thoughts!
    </p>

    <h3>About the Author</h3>
    <p>
        Hi, I'm [Your Name/Pen Name]. I'm a [Your Role/Description, e.g., student, enthusiast, professional]
        with a keen interest in [Your Interests]. This blog is my way of sharing that passion with the world.
    </p>
    <p>
        Thanks for stopping by!
    </p>
</div>
{% endblock %}