<!-- templates/index.html -->
{% extends "base.html" %}

{% block title %}Cumberlands Patriots Blog{% endblock %}

{% block header %}
{% block content %}
<section id="blog-posts">
    {% for post in posts %}
    <article class="post">
        <h2><a href="{{ url_for('view_post', slug=post.slug) }}">{{ post.title }}</a></h2>
        <p class="meta">Posted on {{ post.date }} by {{ post.author }}</p>
        <p>{{ post.content }}</p>
        <a href="{{ url_for('view_post', slug=post.slug) }}" class="read-more">Read More</a>
    </article>
    {% endfor %}
</section>
{% endblock %}